
li{
  display: inline-block;
  margin: 10px;
  width: 30%;
  float: left;
}
.octocat img{
  height: 100%;
  width: 100%;
  padding: 0;


}

.octocat>a>img {
  border: 2px solid;
  border-color: #E8E8E8;
  display: inline-block;
}

a:link {
    color: #EDEDE9;
  }

  a:visited {
      color: black;
  }

.octocat a {
  text-decoration: none;
  font-weight: bold;
}

.authors>li>a>img{

  width: 27%;

}

.image-footer{
display: inline;
font-size: 20%;
border-bottom: 1px solid #E8E8E8;
float: left;

}

.authors>li{
  float:right;
  margin-top: -8%;

}
.image-caption{
  display: inline;
  font-size: 15px;
  text-decoration: none;
  padding-left: 15px;
}

.image-number {
  float: left;
  color: #E8E8E8;
  font-size: 15px;
  
}
